// @include mobile {
//     section#wrapper {
//         padding: 1.5rem 3rem !important;
//     }
// }

#update {
    select {
        border: 0;
        outline: 0;
        background: transparent;
    }
    button {
        width: 2rem;
        height: 2rem;
        padding-top: 0;
        padding-bottom: 0;
    }
}

#languageButton {
    text-align: center;
    width: 120px;
}
