doctype html
html(lang="ko", data-bs-theme="dark")
    head
        include partials/meta
        block head
            title= "AutomateOne Manager"
    body
        include partials/preloader
        // MAIN START ===========
        main.d-flex.flex-column
            block contents

        //- MODAL START ===========
        include partials/modal

        //- SCRIPT START ===========
        include partials/default-script
        script(src="/src/js/gridone.js", type="module")
        block scripts
