doctype html
html(lang="ko")
    head
        include partials/meta
        block head
            title= "AutomateOne Manager"
    body
        .vstack.vw-100.vh-100
            include partials/preloader
            //- MAIN START ===========
            main.flex-grow-1
                block contents
            include partials/footer
    //- SCRIPT START ===========
    script(src="/src/js/gridone.js", type="module")
    block scripts
