extends ../../templates/empty

block contents
    section.p-4.vh-100.vw-100
        .d-flex.flex-column.w-100.h-100
            .container.h-100
                #workdayCalendar.flex-grow-1

    script.
        document.addEventListener("DOMContentLoaded", () => {
            const calendarEl = document.getElementById("workdayCalendar");
            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: "dayGridMonth",
                locale: "ko",
                buttonText: {
                    today: "오늘",
                    month: "월",
                    week: "주",
                    day: "일",
                    list: "리스트",
                },
                height: "100%",
                dayMaxEventRows: true,
                events: [
                    { title: "Sample I", start: "2022-12-05", end: "2022-12-07" },
                    { title: "Sample II", start: "2022-12-05", end: "2022-12-07" },
                    { title: "Sample III", start: "2022-12-05", end: "2022-12-07" },
                    { title: "Sample IV", start: "2022-12-05", end: "2022-12-07" },
                    { title: "Sample V", start: "2022-12-05", end: "2022-12-07" },
                    { title: "Sample VI", start: "2022-12-05", end: "2022-12-07" },
                ],
            });
            calendar.render();
        });
