meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")

link(rel="icon", type="image/x-icon", href="/src/assets/favicon.ico")
link(rel="stylesheet", href="/src/scss/styles.scss")

// fullcalendar
//- link(rel="stylesheet", href="/node_modules/fullcalendar/main.css")
