extends ../templates/base

block contents
    +breadcrumb("샘플 프로젝트", ["대시보드"])
    section#wrapper
        .vstack.gap-4
            //- 상단 업데이트 영역
            .d-flex.justify-content-end.align-items-center
                .hstack.gap-3
                    span.text-muted 최근 업데이트 : 2022-11-18 10:13:06
                    #update.hstack.gap-2.border.p-2.rounded-pill.bg-white
                        button.btn.btn-primary.rounded-circle
                            .hstack.justify-content-center
                                i.bi.bi-arrow-clockwise.fs-5
                        select
                            option(value="0") 자동갱신안함
                            option(value="5000") 5초
                            option(value="10000") 10초
                            option(value="30000") 30초
                            option(value="60000") 60초
            //- 카드 영역
            .row.g-4
                .col-9
                    .vstack.gap-4
                        .row.g-4
                            .col-12.col-lg-4
                                .card.h-100
                                    .card-body
                                        .d-flex.justify-content-between.align-items-center
                                            h4.fw-bold 로봇
                                            h1.fw-bold.text-primary 10
                                        canvas#statRobotChart(
                                            style="max-height: 10rem"
                                        )
                            .col-12.col-lg-4
                                .card.h-100
                                    .card-body
                                        span hello!
                            .col-12.col-lg-4
                                .card.h-100
                                    .card-body
                                        span hello!
                        .card.h-100
                            .card-body
                                span hello!
                .col-3
                    .card.h-100
                        .card-body
                            span hello!

block scripts
    script(src="/src/lib/data/mainChart.js", type="module")
    script.
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelector("#dashboard").classList.add("active");
        });
