extends ../../templates/base

block contents
    +breadcrumb(["로봇", "로봇 수정"])
    section#wrapper
        .vstack.gap-4.px-5.py-4
            .d-flex.justify-content-between.align-items-center
                h4.fw-bold 로봇 수정
                .hstack.gap-3
                    a.btn.btn-secondary(href="/src/view/robot/robots.pug")
                        .hstack.gap-2
                            i.bi.bi-list.lh-1
                            span 목록
                    a.btn.btn-primary(href="/src/view/robot/robots.pug")
                        .hstack.gap-2
                            i.bi.bi-save.lh-1
                            span 저장
            .row.g-4
                .col-12.col-lg-6
                    .vstack.gap-2
                        label.form-label.fw-bold(for="robotTitle") 로봇명
                        input#robotTitle.form-control(type="text")
                .col-12.col-lg-6
                    .vstack.gap-2
                        label.form-label.fw-bold(for="robotIp") 접속 IP
                        input#robotIp.form-control(type="text")
                .col-12.col-lg-6
                    .vstack.gap-2
                        label.form-label.fw-bold(for="robotStatus") 상태
                        input#robotStatus.form-control(
                            type="text",
                            readonly,
                            value="사용가능"
                        )
                .col-12.col-lg-6
                    .vstack.gap-2
                        label.form-label.fw-bold(for="robotDate") 등록일시
                        input#robotDate.form-control(
                            type="text",
                            readonly,
                            value="2022-11-23"
                        )
                .col-12.col-lg-6
                    .vstack.gap-2
                        label.form-label.fw-bold(for="robotIp") 고유 키
                        input#robotKey.form-control(type="robotKey", readonly)
            .vstack.gap-2
                label.form-label.fw-bold(for="robotEditor") 설명
                textarea#robotExplain.form-control(rows="5")
