extends ../../../templates/project

block contents
    +breadcrumb(["로봇 & 트레이너", "로봇 설정 등록"], "main")
    section#wrapper
        .vstack.gap-4.px-5.py-4
            .d-flex.justify-content-between.align-items-center
                h4.fw-bold 로봇 설정 등록
                .hstack.gap-3
                    a.btn.btn-secondary(
                        href="/src/view/sysMngr/robot/robot-setting.pug"
                    )
                        .hstack.gap-2
                            i.bi.bi-list.lh-1
                            span 목록
                    a.btn.btn-primary(
                        href="/src/view/sysMngr/robot/robot-setting.pug"
                    )
                        .hstack.gap-2
                            i.bi.bi-save.lh-1
                            span 저장
            .vstack.gap-2
                label.form-label.fw-bold(for="settingTitle") 설정 명
                input#settingTitle.form-control(type="text")
            .vstack.gap-2
                label.form-label.fw-bold(for="settingExplain") 메모
                textarea#settingExplain.form-control(rows="5")
