nav[aria-label="breadcrumb"] {
    height: $breadcrumb-height;
    top: $navbar-height !important;
    background-color: transparent;
    z-index: 1015;

    #favProject {
        color: #6c757d;
        transition: color 0.2s ease-in-out;

        &:hover,
        &.active {
            color: #f1e21a;
        }
    }
}

.breadcrumb {
    margin-bottom: 0;
    flex-wrap: nowrap !important;
}

.breadcrumb-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    + .breadcrumb-item {
        &::before {
            content: "\F285";
            font-family: "bootstrap-icons";
        }
    }
}
