@import "node_modules/@yaireo/tagify/src/tagify.scss";

@mixin mobile {
    @include media-breakpoint-down(lg) {
        @content;
    }
}

html,
body {
    max-width: 100%;
    height: 100%;
    // overflow-x: hidden;
}

body {
    position: relative;
    -ms-overflow-style: none; // IE, Edge
    scrollbar-width: none; // Firefox
    word-break: keep-all;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    // &::-webkit-scrollbar {
    //     display: none; // Chrome , Safari , Opera
    // }
}

a,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

textarea {
    resize: none !important;
}

.vsc-controller {
    display: none;
}

.vr {
    align-self: auto;
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

/* Legend */
legend {
    float: left;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: inherit;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
}

/* Card */
.card {
    &.card-item {
        --#{$prefix}card-spacer-y: #{calc($card-spacer-x / 2)};
        --#{$prefix}card-spacer-x: #{calc($card-spacer-x / 2)};

        transition: border-color 0.2s ease-in-out;
        &:hover {
            border-color: $primary;
        }
    }

    .card-title {
        margin-bottom: 0;
    }

    .card-text {
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 0;
    }
}

// button
.btn-icon {
    width: 2rem;
    height: 2rem;
}

// dropdown
.dropdown-toggle {
    display: flex;
    align-items: center;
}

// badge
.badge-gridone {
    width: 4rem;
    height: 1.5rem;
    border-radius: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &.status-done {
        background-color: #5d7ed8;
        color: #fff;
    }
    &.status-ongoing {
        background-color: #14b860;
        color: #fff;
    }
    &.status-delay {
        background-color: #f69246;
        color: #fff;
    }
    &.status-error {
        background-color: #e64c2e;
        color: #fff;
    }
    &.status-act-done {
        border: 2px solid #5d7ed8;
        background-color: #fff;
        color: #5d7ed8;
    }
    &.status-act-ongoing {
        border: 2px solid #14b860;
        background-color: #fff;
        color: #14b860;
    }
    &.status-schedule {
        background-color: #b1b1b1;
        color: #fff;
    }
    &.status-stand {
        border: 2px solid #b1b1b1;
        background-color: #fff;
        color: #b1b1b1;
    }
}
