nav.navbar {
    height: $navbar-height !important;

    #nav-profile {
        cursor: pointer;
    }
}

.nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;

    .nav-item {
        & + .nav-item {
            margin-left: -1px;
        }
        &:last-child {
            & .nav-link {
                border-radius: 0 1rem 0 0;
            }
        }
    }
    .nav-link {
        --#{$prefix}nav-link-padding-x: 2rem;
        font-weight: $font-weight-bold;
        background-color: rgba(236, 236, 236, 0.3);
        color: rgba(0, 0, 0, 0.4);
        border-radius: 0;
        border-color: var(--#{$prefix}nav-tabs-link-active-border-color);
        border-bottom: 1px solid
            var(--#{$prefix}nav-tabs-link-active-border-color);
        white-space: nowrap;

        &.active {
            border-bottom-width: 0 !important;
            color: #000 !important;
        }
    }
}

#logo {
    height: 28px;
    width: auto;
}
