nav.navbar {
    height: $navbar-height !important;

    #nav-profile {
        cursor: pointer;
    }
}

.nav-pills {
    border: 1px solid var(--#{$prefix}border-color);
    border-radius: var(--#{$prefix}nav-pills-border-radius);
    padding: 0.25rem;

    .nav-link {
        --#{$prefix}nav-link-padding-x: 2rem;
        font-weight: $font-weight-bold;
        color: var(--#{$prefix}tertiary-color);

        &.active {
            color: $white !important;
        }
    }
}

#logo {
    height: 28px;
    width: auto;
}
