$color-mode-type: data;

@include color-mode(dark) {
    .table {
        th {
            background-color: #202938 !important;
            color: #9ca4b1 !important;
        }
    }

    .datepicker-picker {
        background-color: #111828;

        .datepicker-controls .btn {
            background-color: #111828;
            color: #fff;
        }

        .datepicker-cell:not(.disabled):hover {
            color: #111828;
        }
    }
}
