// @include mobile {
//     #sidebar {
//         display: none !important;
//     }
// }

#sidebar {
    width: 15rem;
    position: fixed;
    top: calc($navbar-height + $breadcrumb-height);
    left: 0;
    height: calc(100vh - $navbar-height - $breadcrumb-height);

    &.close {
        width: 5rem;

        li.nav-item {
            a.nav-link {
                span {
                    opacity: 0;
                }
            }
        }
    }

    li.nav-item {
        width: $sidebar-width;
        height: $sidebar-width;

        a.nav-link {
            &:hover,
            &.active {
                background-color: $primary;
                color: $white;
            }

            span {
                opacity: 0;
                user-select: none;
                transition: opacity 0.2s ease-in-out;
            }
        }
    }
}
