.table-responsive {
    border-top: 2px solid $primary;
}

.table {
    min-width: 960px;
    margin-bottom: 0;
    overflow: hidden;
    margin-top: -1px;

    thead.row-sticky {
        position: sticky !important;
        top: 0 !important;
    }

    th,
    td {
        @include text-truncate;
        white-space: nowrap;
        word-break: break-all;
        vertical-align: middle !important;
        max-width: 0;
        &:first-child {
            border-left: none;
        }
        &:last-child {
            border-right: none;
        }
        & > .form-check {
            display: flex;
            justify-content: center;
            margin-bottom: 0 !important;
        }
    }

    th {
        background-color: #edeff2;
        color: #64686e;
        text-align: center;
    }

    td {
        background-color: #fff;
    }
}

table#fileList {
    $fileList_table: (
        1: 5%,
        2: 10%,
        3: 50%,
        4: 10%,
        5: 10%,
        6: 15%,
    );
    th,
    td {
        &:not(:nth-child(3)) {
            text-align: center;
        }
        @each $i, $percent in $fileList_table {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
}

table#allProcTable {
    $allProcTable: (
        1: 4%,
        2: 5%,
        3: 45%,
        4: 10%,
        5: 10%,
        6: 8%,
        7: 12%,
        8: 5%,
    );

    th,
    td {
        &:not(:nth-child(3)) {
            text-align: center;
        }

        @each $i, $percent in $allProcTable {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
}

table#mainProcTable {
    $mainProcTable: (
        1: 5%,
        2: 6%,
        3: 12%,
        4: 8%,
        5: 14%,
        6: 4%,
        7: 7%,
        8: 7%,
        9: 7%,
        10: 6%,
        11: 6%,
        12: 6%,
        13: 6%,
        14: 6%,
    );

    th,
    td {
        &:not(:nth-child(3)):not(:nth-child(5)) {
            text-align: center;
        }

        @each $i, $percent in $mainProcTable {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
}

table#projectManagerTable {
    min-width: auto !important;

    $projectManagerTable: (
        1: 6%,
        2: 20%,
        3: 20%,
        4: 54%,
    );

    th,
    td {
        text-align: center;

        @each $i, $percent in $projectManagerTable {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
}

table#projectRobotTable {
    min-width: auto !important;

    $projectRobotTable: (
        1: 6%,
        2: 15%,
        3: 25%,
        4: 54%,
    );

    th,
    td {
        &:not(:nth-child(4)) {
            text-align: center;
        }

        @each $i, $percent in $projectRobotTable {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
}

table#serverResourceTable {
    $serverResourceTable: (
        1: 10%,
        2: 12%,
        3: 12%,
        4: 20%,
        5: 20%,
        6: 20%,
        7: 6%,
    );

    th,
    td {
        text-align: center;

        @each $i, $percent in $serverResourceTable {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
}

table#allRobotTable {
    $allRobotTable: (
        1: 4%,
        2: 5%,
        3: 15%,
        4: 8%,
        5: 20%,
        6: 10%,
        7: 10%,
        8: 10%,
        9: 6%,
        10: 6%,
        11: 6%,
    );

    th,
    td {
        &:not(:nth-child(3)):not(:nth-child(5)) {
            text-align: center;
        }

        @each $i, $percent in $allRobotTable {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
}

table#allTrainerTable {
    $allTrainerTable: (
        1: 4%,
        2: 6%,
        3: 45%,
        4: 45%,
    );

    th,
    td {
        text-align: center;

        @each $i, $percent in $allTrainerTable {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
}

table#robotSettingTable {
    $robotSettingTable: (
        1: 4%,
        2: 5%,
        3: 25%,
        4: 38%,
        5: 12%,
        6: 10%,
        7: 6%,
    );

    th,
    td {
        &:not(:nth-child(3)):not(:nth-child(4)) {
            text-align: center;
        }

        @each $i, $percent in $robotSettingTable {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
}

table#patchRobotTable {
    $patchRobotTable: (
        1: 4%,
        2: 5%,
        3: 15%,
        4: 10%,
        5: 10%,
        6: 10%,
        7: 23%,
        8: 10%,
        9: 7%,
        10: 6%,
    );

    th,
    td {
        &:not(:nth-child(3)) {
            text-align: center;
        }

        @each $i, $percent in $patchRobotTable {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
}

table#allUserTable {
    $allUserTable: (
        1: 5%,
        2: 16%,
        3: 20%,
        4: 20%,
        5: 10%,
        6: 12%,
        7: 6%,
        8: 6%,
        9: 5%,
    );

    th,
    td {
        &:not(:nth-child(2)):not(:nth-child(4)) {
            text-align: center;
        }

        @each $i, $percent in $allUserTable {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
}

table#cloudVariablesTable {
    $cloudVariablesTable: (
        1: 5%,
        2: 6%,
        3: 24%,
        4: 35%,
        5: 15%,
        6: 15%,
    );

    th,
    td {
        &:not(:nth-child(3)):not(:nth-child(4)) {
            text-align: center;
        }

        @each $i, $percent in $cloudVariablesTable {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
}

table#excludeScheduleTable {
    $excludeScheduleTable: (
        1: 5%,
        2: 39%,
        3: 38%,
        4: 12%,
        5: 6%,
    );

    th,
    td {
        text-align: center;

        @each $i, $percent in $excludeScheduleTable {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
}

table#correctStateTable {
    $correctStateTable: (
        1: 5%,
        2: 32%,
        3: 31%,
        4: 12%,
    );

    th,
    td {
        text-align: center;

        @each $i, $percent in $correctStateTable {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
}

table#alarmMsgTable {
    $alarmMsgTable: (
        1: 5%,
        2: 21%,
        3: 34%,
        4: 34%,
        5: 6%,
    );

    th,
    td {
        &:not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)) {
            text-align: center;
        }

        @each $i, $percent in $alarmMsgTable {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
}

table#mainRobotTable {
    $mainRobotTable: (
        1: 5%,
        2: 11%,
        3: 11%,
        4: 10%,
        5: 22%,
        6: 10%,
        7: 10%,
        8: 10%,
        9: 5%,
    );

    th,
    td {
        &:not(:nth-child(5)) {
            text-align: center;
        }

        @each $i, $percent in $mainRobotTable {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
}

table#robotGroupTable {
    $robotGroupTable: (
        1: 4%,
        2: 6%,
        3: 30%,
        4: 40%,
        5: 15%,
        6: 5%,
    );

    th,
    td {
        &:not(:nth-child(3)):not(:nth-child(4)) {
            text-align: center;
        }

        @each $i, $percent in $robotGroupTable {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
}

table#manageScriptTable {
    $manageScriptTable: (
        1: 4%,
        2: 6%,
        3: 25%,
        4: 35%,
        5: 13%,
        6: 12%,
        7: 5%,
    );

    th,
    td {
        & > .form-check {
            display: flex;
            justify-content: center;
            margin-bottom: 0 !important;
        }

        &:not(:nth-child(3)) {
            text-align: center;
        }

        @each $i, $percent in $manageScriptTable {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
}

table#scriptHistoryTable {
    $scriptHistoryTable: (
        1: 4%,
        2: 6%,
        3: 25%,
        4: 35%,
        5: 12%,
        6: 12%,
        7: 6%,
    );

    th,
    td {
        & > .form-check {
            display: flex;
            justify-content: center;
            margin-bottom: 0 !important;
        }

        &:not(:nth-child(3)) {
            text-align: center;
        }

        @each $i, $percent in $scriptHistoryTable {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
}

table#robotPatchListTable {
    min-width: auto !important;

    $robotPatchListTable: (
        1: 5%,
        2: 38%,
        3: 38%,
        4: 13%,
        5: 6%,
    );

    th,
    td {
        text-align: center;

        @each $i, $percent in $robotPatchListTable {
            &:nth-child(#{$i}) {
                width: $percent;
            }
        }
    }
}
