$prefix: sm-;
$enable-negative-margins: true;
$enable-dark-mode: true;

// type
$font-family-sans-serif: Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;

// color
$primary: #41527d;
$secondary: #595959;
$info: #00b4f0;
$dark: #212529;
$light: #f7f7f7;

// body
$body-bg: #ffffff;
$body-bg-dark: #111828;

$navbar-height: 5rem;
$sidebar-width: 5rem;
$breadcrumb-height: 4rem;

// breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 768px,
    md: 769px,
    lg: 1024px,
    xl: 1216px,
    xxl: 1408px,
);
